@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BeaconAppProxy</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>ClassRoomSchedules</h2>
        <p>Giving a json result with all the activities this week in a certain classroom.as</p>
        <p><a class="btn btn-default" href="/classroomschedule/haa-h1-21">HAA-H1-21 &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Beacons api</h2>
        <p>giving a json result with all the beacons linked to classrooms</p>
        <p><a class="btn btn-default" href="/beacons">Beacons &raquo;</a></p>
    </div>
</div>